
*{
	margin: 0;
	padding: 0;
}



body{
	background: rgb(178,140,245);
	background: linear-gradient(90deg, rgba(178,140,245,1) 20%, rgba(81,226,224,1) 31%, rgba(0,212,255,1) 100%);
}



h1{
	width:100%;
	height: 30px;
	text-align: center;
	padding: 50px;
	text-shadow:  2px 3px rgba(178,140,245,1);
	font-size: 80px;
	font-family: constantia;
	color: #B2FF33;
	

}






.contacto{
	float: left;
	width: 400px;
	font-family: constantia;
}




.esp{
	width: 400px;
	padding: 10px;
	font-size: 20px;
	margin: 30px;
	font-family: arial;
	font-weight: bolder;
	text-align: center;
	color: ;
}




.icon{
	width: 40px;
}




.apt{
	padding: 30px;
	font-family: constantia;
}




img{
	float: left;
	width: 300px;
	border-radius: 300px;
}



li{
	margin-top: 8px;
	font-family: constantia;
}



.perfil{
	float: left;
	width: 400px;
	margin: 50px;
	font-family: constantia;
	text-align: justify;
	color: white;

}

.exp{
	
	margin-top: 50px;
	margin-left: 50px;
	font-family: constantia;
	color: white;

}



h2{
	font-size: 40px;
	font-family: constantia;
	text-shadow:  1px 2px aquamarine;
}


.academica{
	font-family: constantia;
	color: white;
}



.adicional{
	font-family: constantia;
	color: white;
}

a{
	width: 100px;
	margin-left: 50px;
	font-family: Arial;
	font-size: 20px;
	color: #B2FF33;
	font-weight: bold;
	text-shadow:  1px 2px rgba(0,212,255,1);
	text-decoration: none;
	border: 1px solid #fff;
}

.formulario{
	width: 500px;
	align-items: center;
}

.reloj {
	float: left;
	margin-left: 80%;
    color: #B2FF33;
    font-size: 40px;
    font-family: Arial;
    letter-spacing: 5px;
    text-align: center;
    background-color: rgba(178,140,245,1);
    border: 2px solid #fff;
    border-radius: 20px;
    width: 300px;
}

.video{
margin-top: -650px;
margin-left: 1500px;

}

h3{
	font-size: 20px;
	font-family: constantia;
	color: #B2FF33;
}

.front{
	width: 100%;
	height: 80px;
	text-align: center;
	padding: 50px;
	font-size: 40px;
	font-family: constantia;
	color: #B2FF33;
	text-shadow:  2px 3px rgba(178,140,245,1);
	

}